MVAS/SOAP/src/CSMService.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RejectSMSAdv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CommandCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MobileOperator" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="RequestTime" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RejectSMSAdvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RejectSMSAdvResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader"/>
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string"/>
        </s:sequence>
        <s:anyAttribute/>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RejectSMSAdvSoapIn">
    <wsdl:part name="parameters" element="tns:RejectSMSAdv"/>
  </wsdl:message>
  <wsdl:message name="RejectSMSAdvSoapOut">
    <wsdl:part name="parameters" element="tns:RejectSMSAdvResponse"/>
  </wsdl:message>
  <wsdl:message name="RejectSMSAdvAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader"/>
  </wsdl:message>
  <wsdl:portType name="CSMServiceSoap">
    <wsdl:operation name="RejectSMSAdv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cập nhật trạng thái từ chối nhận SMS quảng cáo của khách hàng</wsdl:documentation>
      <wsdl:input message="tns:RejectSMSAdvSoapIn"/>
      <wsdl:output message="tns:RejectSMSAdvSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CSMServiceSoap" type="tns:CSMServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RejectSMSAdv">
      <soap:operation soapAction="http://tempuri.org/RejectSMSAdv" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:RejectSMSAdvAuthHeader" part="AuthHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CSMServiceSoap12" type="tns:CSMServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RejectSMSAdv">
      <soap12:operation soapAction="http://tempuri.org/RejectSMSAdv" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
        <soap12:header message="tns:RejectSMSAdvAuthHeader" part="AuthHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSMService">
    <wsdl:port name="CSMServiceSoap" binding="tns:CSMServiceSoap">
      <soap:address location="http://10.30.9.30/SMS/CSMService.asmx"/>
    </wsdl:port>
    <wsdl:port name="CSMServiceSoap12" binding="tns:CSMServiceSoap12">
      <soap12:address location="http://10.30.9.30/SMS/CSMService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>