MVAS/SOAP/src/ReceiverVMG.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions targetNamespace="http://203.162.71.82/SMSContentWS/services/Receiver" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://203.162.71.82/SMSContentWS/services/Receiver" xmlns:intf="http://203.162.71.82/SMSContentWS/services/Receiver" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <message name="moReceiverResponse">
    <part name="moReceiverReturn" type="xsd:int"/>
  </message>
  <message name="moReceiverRequest">
    <part name="MsgSequence" type="xsd:string"/>
    <part name="SenderNumber" type="xsd:string"/>
    <part name="ServiceNumber" type="xsd:string"/>
    <part name="Timestamp" type="xsd:string"/>
    <part name="SmsContent" type="xsd:string"/>
    <part name="CommandCode" type="xsd:string"/>
  </message>
  <message name="moReceiverVNGResponse">
    <part name="moReceiverVNGReturn" type="xsd:int"/>
  </message>
  <message name="moReceiverStandardRequest">
    <part name="User_ID" type="xsd:string"/>
    <part name="Service_ID" type="xsd:string"/>
    <part name="Command_Code" type="xsd:string"/>
    <part name="Message" type="xsd:string"/>
    <part name="Request_ID" type="xsd:string"/>
    <part name="Operator" type="xsd:string"/>
  </message>
  <message name="moReceiverVNGRequest">
    <part name="User_ID" type="xsd:string"/>
    <part name="Service_ID" type="xsd:string"/>
    <part name="Command_Code" type="xsd:string"/>
    <part name="Message" type="xsd:string"/>
    <part name="Request_ID" type="xsd:string"/>
    <part name="Operator" type="xsd:string"/>
    <part name="Content_ID" type="xsd:string"/>
  </message>
  <message name="moReceiverStandardResponse">
    <part name="moReceiverStandardReturn" type="xsd:int"/>
  </message>
  <message name="mtReceiverRequest">
    <part name="User_ID" type="xsd:string"/>
    <part name="Message" type="xsd:string"/>
    <part name="Service_ID" type="xsd:string"/>
    <part name="Command_Code" type="xsd:string"/>
    <part name="Message_Type" type="xsd:string"/>
    <part name="Request_ID" type="xsd:string"/>
    <part name="Total_Message" type="xsd:string"/>
    <part name="Message_Index" type="xsd:string"/>
    <part name="IsMore" type="xsd:string"/>
    <part name="Content_Type" type="xsd:string"/>
    <part name="Operator" type="xsd:string"/>
  </message>
  <message name="mtReceiverResponse">
    <part name="mtReceiverReturn" type="xsd:int"/>
  </message>
  <portType name="Receiver">
    <operation name="moReceiverStandard" parameterOrder="User_ID Service_ID Command_Code Message Request_ID Operator">
      <input message="impl:moReceiverStandardRequest" name="moReceiverStandardRequest"/>
      <output message="impl:moReceiverStandardResponse" name="moReceiverStandardResponse"/>
    </operation>
    <operation name="moReceiverVNG" parameterOrder="User_ID Service_ID Command_Code Message Request_ID Operator Content_ID">
      <input message="impl:moReceiverVNGRequest" name="moReceiverVNGRequest"/>
      <output message="impl:moReceiverVNGResponse" name="moReceiverVNGResponse"/>
    </operation>
    <operation name="moReceiver" parameterOrder="MsgSequence SenderNumber ServiceNumber Timestamp SmsContent CommandCode">
      <input message="impl:moReceiverRequest" name="moReceiverRequest"/>
      <output message="impl:moReceiverResponse" name="moReceiverResponse"/>
    </operation>
    <operation name="mtReceiver" parameterOrder="User_ID Message Service_ID Command_Code Message_Type Request_ID Total_Message Message_Index IsMore Content_Type Operator">
      <input message="impl:mtReceiverRequest" name="mtReceiverRequest"/>
      <output message="impl:mtReceiverResponse" name="mtReceiverResponse"/>
    </operation>
  </portType>
  <binding name="ReceiverSoapBinding" type="impl:Receiver">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="moReceiverStandard">
      <wsdlsoap:operation soapAction=""/>
      <input name="moReceiverStandardRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.itrd.vmg" use="encoded"/>
      </input>
      <output name="moReceiverStandardResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://203.162.71.82/SMSContentWS/services/Receiver" use="encoded"/>
      </output>
    </operation>
    <operation name="moReceiverVNG">
      <wsdlsoap:operation soapAction=""/>
      <input name="moReceiverVNGRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.itrd.vmg" use="encoded"/>
      </input>
      <output name="moReceiverVNGResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://203.162.71.82/SMSContentWS/services/Receiver" use="encoded"/>
      </output>
    </operation>
    <operation name="moReceiver">
      <wsdlsoap:operation soapAction=""/>
      <input name="moReceiverRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.itrd.vmg" use="encoded"/>
      </input>
      <output name="moReceiverResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://203.162.71.82/SMSContentWS/services/Receiver" use="encoded"/>
      </output>
    </operation>
    <operation name="mtReceiver">
      <wsdlsoap:operation soapAction=""/>
      <input name="mtReceiverRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.itrd.vmg" use="encoded"/>
      </input>
      <output name="mtReceiverResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://203.162.71.82/SMSContentWS/services/Receiver" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="ReceiverService">
    <port binding="impl:ReceiverSoapBinding" name="Receiver">
      <wsdlsoap:address location="http://203.162.71.82/SMSContentWS/services/Receiver"/>
    </port>
  </service>
</definitions>