svn_BankingGateway/ConfirmOrderFrom123Pay/xml-resources/axis2/META-INF/ConfirmOrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://service/bankinggateway/vng/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://service/bankinggateway/vng/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service/bankinggateway/vng/">
    <wsdl:types>
        <xs:schema xmlns:ns="http://service/bankinggateway/vng/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service/bankinggateway/vng/xsd">
            <xs:element name="hello">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="helloRequest">
        <wsdl:part name="parameters" element="ns0:hello"/>
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part name="parameters" element="ns0:helloResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConfirmOrderServicePortType">
        <wsdl:operation name="hello">
            <wsdl:input message="axis2:helloRequest" wsaw:Action="urn:hello"/>
            <wsdl:output message="axis2:helloResponse" wsaw:Action="urn:helloResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConfirmOrderServiceSOAP11Binding" type="axis2:ConfirmOrderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hello">
            <soap:operation soapAction="urn:hello" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConfirmOrderServiceSOAP12Binding" type="axis2:ConfirmOrderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="hello">
            <soap12:operation soapAction="urn:hello" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConfirmOrderServiceHttpBinding" type="axis2:ConfirmOrderServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="hello">
            <http:operation location="ConfirmOrderService/hello"/>
            <wsdl:input>
                <mime:content type="text/xml" part="hello"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="hello"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConfirmOrderService">
        <wsdl:port name="ConfirmOrderServiceSOAP11port_http" binding="axis2:ConfirmOrderServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ConfirmOrderService"/>
        </wsdl:port>
        <wsdl:port name="ConfirmOrderServiceSOAP12port_http" binding="axis2:ConfirmOrderServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ConfirmOrderService"/>
        </wsdl:port>
        <wsdl:port name="ConfirmOrderServiceHttpport" binding="axis2:ConfirmOrderServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ConfirmOrderService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
