MVAS/vms-sms-service/resources/parlayx_sms_notification_interface_2_2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="parlayx_sms_notification_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/notification/v2_2/interface" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v2_2" xmlns:parlayx_sms_header_xsd="http://www.huawei.com.cn/schema/common/v2_1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:parlayx_sms_notification_local_xsd="http://www.csapi.org/schema/parlayx/sms/notification/v2_2/local" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:parlayx_sms_notification="http://www.csapi.org/wsdl/parlayx/sms/notification/v2_2/interface">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/sms/notification/v2_2/local" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/sms/v2_2" schemaLocation="parlayx_sms_types_2_2.xsd"/>
         <xsd:import namespace="http://www.csapi.org/schema/parlayx/common/v2_1" schemaLocation="parlayx_common_types_2_2.xsd"/>
		 <xsd:import namespace="http://www.huawei.com.cn/schema/common/v2_1" schemaLocation="parlayx_sms_header_types_2_2.xsd"/>
		 
         <xsd:element name="notifySmsReception" type="parlayx_sms_notification_local_xsd:notifySmsReception"/>
         <xsd:complexType name="notifySmsReception">
            <xsd:sequence>
               <xsd:element name="correlator" type="xsd:string"/>
               <xsd:element name="message" type="parlayx_sms_xsd:SmsMessage"/>
            </xsd:sequence>
         </xsd:complexType>
		 <xsd:element name="NotifySOAPHeader" type="parlayx_sms_header_xsd:NotifySOAPHeader"/>
         
         <xsd:element name="notifySmsReceptionResponse" type="parlayx_sms_notification_local_xsd:notifySmsReceptionResponse"/>
         <xsd:complexType name="notifySmsReceptionResponse">
            <xsd:sequence/>
         </xsd:complexType>

         <xsd:element name="notifySmsDeliveryReceipt" type="parlayx_sms_notification_local_xsd:notifySmsDeliveryReceipt"/>
         <xsd:complexType name="notifySmsDeliveryReceipt">
            <xsd:sequence>
               <xsd:element name="correlator" type="xsd:string"/>
               <xsd:element name="deliveryStatus" type="parlayx_sms_xsd:DeliveryInformation"/>
            </xsd:sequence>
         </xsd:complexType>

         <xsd:element name="notifySmsDeliveryReceiptResponse" type="parlayx_sms_notification_local_xsd:notifySmsDeliveryReceiptResponse"/>
         <xsd:complexType name="notifySmsDeliveryReceiptResponse">
            <xsd:sequence/>
         </xsd:complexType>
      </xsd:schema>
  </types>
  <message name="SmsNotification_notifySmsReceptionRequest">
    <part name="parameters" element="parlayx_sms_notification_local_xsd:notifySmsReception">
    </part>
  </message>
  <message name="SmsNotification_notifySmsDeliveryReceiptResponse">
    <part name="result" element="parlayx_sms_notification_local_xsd:notifySmsDeliveryReceiptResponse">
    </part>
  </message>
  <message name="SmsNotification_notifySmsDeliveryReceiptRequest">
    <part name="parameters" element="parlayx_sms_notification_local_xsd:notifySmsDeliveryReceipt">
    </part>
  </message>
  <message name="SmsNotification_notifySmsReceptionResponse">
    <part name="result" element="parlayx_sms_notification_local_xsd:notifySmsReceptionResponse">
    </part>
  </message>
  <portType name="SmsNotification">
    <operation name="notifySmsReception">
      <input message="parlayx_sms_notification:SmsNotification_notifySmsReceptionRequest">
    </input>
      <output message="parlayx_sms_notification:SmsNotification_notifySmsReceptionResponse">
    </output>
    </operation>
    <operation name="notifySmsDeliveryReceipt">
      <input message="parlayx_sms_notification:SmsNotification_notifySmsDeliveryReceiptRequest">
    </input>
      <output message="parlayx_sms_notification:SmsNotification_notifySmsDeliveryReceiptResponse">
    </output>
    </operation>
  </portType>
</definitions>
